@model SuperV.ViewModels.PartialPanelVM

<div class="top-5">
    <div class="row auto-clear">

        @foreach (var machine in Model.MachinesData)
        {
            @Html.Partial("_machineStatus", machine)
        }
    </div>
</div>
