
@{
    ViewBag.Title = "MachineDetails";
}

<style>
    #ajaxSpinnerContainer {
        height: 11px;
    }

    #ajaxSpinnerImage {
        display: none;
    }
</style>

<h2>MachineDetails</h2>

<h1 id="ID" onclick="load(@ViewBag.ID)">@ViewBag.ID</h1>
<div id="qui" >

</div>
<script type="text/javascript">
   

    function load(ID) {
         
        $('#qui').load("/home/machinePh1/", {'ID' : ID}, function()
        {
             
        });
        
    }
     
</script>



