body {
	padding-top: 5px;
	padding-bottom: 20px;
	
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 400px;
}

.counter-content {
	padding: 15px;
	font-size: 18px;
	min-height: 200px;
	background: #dbdfe5;
	margin-bottom: 10px;
}

   .top-5{
	   margin-top: 5px;
   } 

   .form-box {
	margin-top: 35px;
}

   .form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #de995e;
}

.padding-5{
	padding-left: 5px;
	padding-right:5px;

}

.padding-2{
	padding-left: 2px;
	padding-right:2px;
}

.padding-5-tb{
	padding-top:5px;
	padding-bottom:5px;
}

.well-machine{
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	border-radius:15px;
	border: 0px;
	min-height:220px;
}

.well-machine-details{
	padding: 5px 15px 5px 15px;
	border-radius:15px;
	border:0px;
	
}

.well-grid-details{
	padding: 5px 15px 5px 15px;
	border-radius :15px;
	border:0px;
	background-color : black;
}

.anchorNoStyle a:link ,
.anchorNoStyle a:visited ,
.anchorNoStyle a:hover ,
.anchorNoStyle a:active   {
  color: inherit ; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.well-machine .machine-name{
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.well-machine .machine-speed{
	font-size: 4em;
	font-weight:bold;
	text-align: center;
	margin-top:5px;
	
}

.well-machine .machine-speed-label{
	font-size:0.75em;
	text-align:center;
	margin-bottom:5px;
}

.well-machine .machine-operation{
	font-size:1.2em;
	text-align:center;
	font-weight:bold;
	margin-bottom:10px;
}

.well-machine .machine-productCode{
	font-size:0.85em;
	font-weight:bold;
	text-align:center;
}

/* colore di una macchina DISCONNESSA (0) GRIGIO SCURO */
.bg-machine-disconnected {
	background-color : #FFFFFF;
}

/* colore centrale di una macchina DISCONNESSA (0) */
.bg-highlight-strip-disconnected {
	background-color:#999999;
}

/* colore di una macchina in EMERGENZA (1) ROSSO */
.bg-machine-emergency {
	background-color: #FF5757;
}

/* colore centrale di una macchina in EMERGENZA (1) ROSSO */
.bg-highlight-strip-emergency {
	background-color: #be3e3e;
}

/* colore di una macchina in ALLARME (2) GIALLO */
.bg-machine-alarm {
	background-color: #FF8B00;
}

/* colore centrale di una macchine in ALLARME (2)*/
.bg-highlight-strip-alarm {
	background-color : #bf6900;
}

/* colore di una macchine RUN (3) */
.bg-machine-run {
	 background-color:#8DC73F;
}

/* colore centrale di una macchina in RUN (3)*/
.bg-highlight-strip-run {
	background-color: #557722;
}

/* colore di una macchina MARCIA IN ALLARME (4) ARANCIONE */
.bg-machine-run-alarm {
	background-color: #F36523;
}

/* colore centrale di una macchina in MARCIA IN ALLARME (4) */
.bg-highlight-strip-run-alarm {
	background-color: #c8541d;
}

/* colroe di una macchine in ARRESTO (5) */
.bg-machine-stop {
	background-color : #A9AAAE;
}

/* colore centrale di una macchina in ARRESTO (5) */
.bg-highlight-strip-stop {
	background-color: #88898d;
}

/* colore di una macchina in ATTREZZAGGIO (6)*/
.bg-machine-setup {
	background-color:#7DA7D9;
}

/* colore centrale di una macchina in ATTREZZAGGIO (6) */
.bg-highlight-strip-setup {
	background-color: #5e80a8;
}

/* colore di una macchina in AVVIAMENTO (7) */
.bg-machine-startup {
	background-color: #f275a9;
}

/* colore centrale di una macchina in AVVIAMENTO (7) */
.bg-highlight-strip-startup {
	background-color: #924766;
}

/* colore di una macchina INATTIVA*/
.bg-machine-inactive{
	background-color: #FFFFFF;
}
/* colore centrale di una macchina INATTIVA */
.bg-highlight-strip-inactive{
	background-color:#999999;
}

/* colore di una macchina OPERATIVA */
.bg-machine-working{
	background-color:#88CC33;
}

/* striscia centrale di una macchina OPERATIVA*/
.bg-highlight-strip-working{
	background-color: #557722;
}

/* colore di una macchina CAMBIO */
.bg-machine-change{
	background-color:#FF77AA;
}
.bg-highlight-strip-change{
	background-color:#994466;
}

.theme-color{
	color:#FF8B00;
}

#overlay {
		background: rgba(218, 219, 217, 0.50);
		color: #666666;
		position: fixed;
		height: 100%;
		width: 100%;
		z-index: 5000;
		top: 0;
		left: 0;
		float: left;
		text-align: center;
		padding-top: 25%;
		
	}

/* personalizzazione che sostituisce il clearfix */
/* funziona solo sulle row in cui sono specificate le colonne per ogni media min-width */
@media (min-width:1200px){
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}
